
html{background:#2b7ed8}
div{box-sizing:border-box}
h1,h2,h3,h4,h5,h6,p,span,a,label,li,button,input,input[type=button]
{font-family:'Nunito',sans-serif}
h1,h2,h3,h4,h5,h6,a{color:#444}
h1 a,h2 a,h3 a,h4 a,h5 a{text-decoration:none}
h1{font-size:1.5em}
span.sub{font-size:.9em;vertical-align:sub}
.box{width:100%}.row,.box{position:relative;z-index:1}

    
    .site-info{position:relative;z-index:0}
    
   
    .question-sidebar .box:first-child h3{margin-top:0}.question-sidebar ul{padding-left:2em}
    
    .question-sidebar ul li{list-style:disc}.question-sidebar ul li a{font-weight:600}ul{margin:0;padding:0}
    
    ul{list-style:none}
    .full-width{width:100%;max-width:100%}.white-bg{background:#fff}
    .grey-bg{background:#f3f4f6}.small-padding{padding:1em}
    .small-side-padding{padding-left:1em;padding-right:1em}
    .medium-padding{padding:2em}
    .side-padding{padding-left:2em;padding-right:2em}
    .bottom-padding{padding-bottom:2em}
    .rounded{border-radius:10px} 
    .shadow-dark{box-shadow:0 15px 35px rgba(49,49,93,.08),0 5px 15px rgba(0,0,0,.05)}
   
        
  
    .link:hover,.link:focus,.link:active{color:#191970}.link:focus{outline:thin dotted}.link:hover,.link:active{outline:0}
    
    *{font-family:'Nunito',sans-serif !important}.formkit-form[data-uid=d21e5d8d56] 
    
    *{font-family:'Nunito',sans-serif !important}.formkit-form[data-uid="1acaf5a6f8"]
    

    
        
    
    footer{background:#2b7ed8;padding:1em 0 2em}
    footer h3,footer h4,footer p{color:#fff}
    footer p{opacity:.85}
    footer a,footer a:hover{color:#fff;font-weight:600;cursor:pointer}
    footer a:hover{text-decoration:underline}
    footer li{border-bottom:1px solid rgba(255,255,255,.9)}
    footer li:last-child{border-bottom:none}
    footer li a{display:block;padding:1em 0;
        font-size:.875em;text-decoration:none}
        
    .entry-footer{background:grey}
    